<%- include('partials/header') %>

<div class="container"style="background-color: white; padding: 2.5rem;text-align:center; opacity: 85%;">
    
    <div class="col-auto">
        <h1>Welcome!</h1>
        <h6 class="text-muted">View Current Medications in Stock</h6>
        <a href="/medications"><button>Enter</button></a>
    </div>
</div>



<%- include('partials/footer') %>